@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Kumbh+Sans&family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}
.aboveContainer {
  font-size: medium;
  color: hsl(183, 100%, 15%);
  opacity: 0.6;
}

.container {
  height: 400px;
  width: 800px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  margin-top: 75px;
}

.left {
  height: 100%;
  width: 350px;
  /* background-color: hsl(183, 100%, 15%); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftTextPColor {
  color: hsl(186, 14%, 43%);
  margin-bottom: 10px;
  font-family: "Space Mono", monospace;
  font-size: small;
}

.bill {
  height: 50px;
  width: 100%;
  /* background-color: blue; */
}

.input-container {
  height: 40px;
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.input-container input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: end;
  padding: 15px;
  font-family: "Space Mono", monospace;
  font-size: large;
}

.tip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  height: 100px;
  width: 100%;
  /* background-color: yellow; */
}

.getBtns {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: hsl(183, 100%, 15%);
  border: none;
  outline: none;
  font-family: "Space Mono", monospace;
  font-size: large;
  cursor: pointer;
}

.gridButtons {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: hsl(183, 100%, 15%);
  border: none;
  outline: none;
  font-family: "Space Mono", monospace;
  font-size: large;
  cursor: pointer;
}

.getBtns:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

input[type="text"]::placeholder {
  /* text-align: center; */
  color: hsl(186, 14%, 43%);
}

#gridInput {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  text-align: center;
}

.people {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  /* background-color: springgreen; */
}

.right {
  height: 100%;
  width: 350px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  color: white;
}

.display {
  height: 110px;
  width: 100%;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reset {
  width: 100%;
  height: 40px;
  background-color: hsl(171, 67%, 45%);
  border-radius: 5px;
  opacity: 0.3;
  margin-top: 80px;
}

.reset button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  font-size: large;
}

.reset button:hover {
  background-color: red;
  border-radius: 5px;
}

.amount {
  width: 100%;
  /* background-color: turquoise; */
  display: flex;
  justify-content: space-between;
}

.amount p:first-child {
  font-size: medium;
}

.amount p:last-child {
  color: hsl(184, 14%, 56%);
  font-size: small;
}

.amount h1 {
  color: hsl(172, 67%, 45%);
}
